@import '../styles';
.main-container {
  background-color: rgba($color: #bda5a5, $alpha: 0.3);
  width: 100%;
  height: 100vh;
  .minibio {
    width: 250px;
    max-width: auto;
    margin: 0 auto;
    padding: 50px 0;
    img {
      width: 175px;
      height: auto;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }
    h1 {
      font-family: 'Londrina Solid', cursive;
      text-align: center;
      font-weight: 400;
      color: #ddddddfd;
    }
    h2 {
      font-family: 'Londrina Solid', cursive;
      text-align: center;
      font-weight: 400;
      color: #ddddddfd;
    }
    p {
      font-family: 'Londrina Solid', cursive;
      text-align: center;
      font-weight: 300;
      color: #ffffff;
    }
    .social-box {
      .link-box {
        background-color: rgba($color: #5b91f7, $alpha: 0.7);
        padding: 0;
        box-shadow: 0px 0px 20px 3px #a19c9c;
        margin: 10px;
        display: flex;
        text-decoration: none;
        .social-link {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          .left-item {
            img {
              width: 48px;
              height: 48px;
              margin-left: 20px;
            }
          }
          .right-item {
            margin-left: 60px;
            p {
              font-weight: 900;
              font-family: 'Permanent Marker', cursive;
              color: #240da3;
            }
          }
        }
      }
    }
  }
}

.main-container.dark {
  background-color: rgb(15, 14, 14);
}
