<div class="main-container">
  <div class="minibio">
    <img src="../assets/images/photo1.jpg" alt="Álvaro Delgado Sánchez-Real">
    <h1>Álvaro <br> Delgado <br> Sánchez-Real</h1>
    <h2>FullStack Developer<span>🤖</span></h2>
    <p>Mis redes sociales<span></span>🌐⬇️</p>

    <div class="social-box">
      <a href="{{social.link}}" target="_blank" *ngFor="let social of socialNetworks" class="link-box">
        <div class="social-link">
          <div class="left-item">
            <img src="{{social.img}}" alt="Icono" width="30" height="30">
          </div>
          <div class="right-item">
            <p>{{social.text}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
